body{
    background-image: url("/img/moorish-pattern_644416-582.jpg");
}

h1{
    color: blue;
    text-align: right;
    background-color: lightblue;
}
ul{
    color: orange;
    background-color: darkblue;
}
li{
    color: orange;
}